.dark-background {
    background-color: #181A1B;
    color: #CCC;
}

.light-dark-background {
    background-color: #343A40;
    color: #CCC;
}

.income {
    color: #169331;
    font-size: 1.5rem;
}

.expense {
    color: #ad2020;
    font-size: 1.5rem;
}

