.dark-background {
    background-color: #181A1B;
    color: white;
}

.light-background {
    background-color: #e4e4e4;
}

.light-dark-background {
    background-color: #343A40;
    color: white;
}

.white-font {
    color: white;
}

.btn-circle {
    border-radius: 50px;
}

.table-scroll {
    display: block;
    height: 95vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.transaction-date {
    width: 100%;
}

.btn-delete {
    background-color: #ad2628;
    border-color: #ad2628;
}

.Income-container {
    transform: translateX(-100%);
    animation: slidein 3s forwards;
}

.Expense-container {
    transform: translateX(100%);
    animation: slidein 3s forwards;
}

.card-title {
    font-size: 2rem;
    margin-bottom: 0;
}

.card-body {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.Income-slide {
    animation: slidein 0.5s forwards;
}


@keyframes slidein {
    100% {
        transform: translateX(0%);
    }
}

.Expense-slide {
    transition: 1s;
    right: 0;
}

.Income-border {
    border: 1px solid #29d32f;
}

.Income-header {
    background-color: #29d32f;
    padding: 4px 8px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.Expense-border {
    border: 1px solid #db3035;
}

.Expense-header {
    background-color: #db3035;
    padding: 4px 8px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.nav-bar {
    background-color: #1dad3c;
}


