.dark-background {
    background-color: #181A1B;
    color: #CCC;
}

.light-dark-background {
    background-color: #343A40;
    color: #CCC;
}

.table-font {
    color: #CCC;
    font-size: 1.3rem;
}

.income {
    color: #CCC;
    font-size: 1.3rem;
    text-shadow: -1px 0 #169331, 0 1px #169331, 1px 0 #169331, 0 -1px #169331;
}

.expense {
    color: #CCC;
    font-size: 1.3rem;
    text-shadow: -1px 0 #ad2020, 0 1px #ad2020, 1px 0 #ad2020, 0 -1px #ad2020;
}

